-- select * from tblSubjectMaster
-- select * from tblExamMarks
-- select * from tblClassMaster
-- select * from tblSUbjectGroupMaster

DECLARE @UID as Integer

-- Little Angels School
SET @UID = 12 

DELETE FROM tblSUbjectGroupMaster



INSERT INTO tblSUbjectGroupMaster(SubjectGroupName, SubjectGroupType, userID, Fyear) VALUES('Scholastic', 'Marks', @UID, 2014)
INSERT INTO tblSUbjectGroupMaster(SubjectGroupName, SubjectGroupType, userID, Fyear) VALUES('CoScholastic', 'Grade', @UID, 2014)
INSERT INTO tblSUbjectGroupMaster(SubjectGroupName, SubjectGroupType, userID, Fyear) VALUES('Discipline', 'Grade', @UID, 2014)





DECLARE @Scholastic_SubjectGroupMasterId as INteger
DECLARE @CoScholastic_SubjectGroupMasterId as INteger
DECLARE @Discipline_SubjectGroupMasterId as INteger

-- select * from tblSubjectGroupMaster

SELECT @Scholastic_SubjectGroupMasterId = subjectGroupMasterID 
FROM tblSubjectGroupMaster 
WHERE subjectGroupName='Scholastic'

SELECT @CoScholastic_SubjectGroupMasterId = subjectGroupMasterID 
FROM tblSubjectGroupMaster 
WHERE SUbjectGroupName='CoScholastic'

SELECT @Discipline_SubjectGroupMasterId = subjectGroupMasterID 
FROM tblSubjectGroupMaster 
WHERE SUbjectGroupName='Discipline'



DELETE FROM tblSUbjectMaster




/****** Object:  Table [dbo].[tblSubjectMaster]    Script Date: 02/11/2019 19:09:53 ******/

INSERT [dbo].[tblSubjectMaster] ( [SubjectName], [SubjectCode], [SubjectGroupMasterId], [SubjectClassID], [SubjectSectionID], [SubjectOrder], [UserID], [FYear]) VALUES (N'English', N'01', @Scholastic_SubjectGroupMasterId, 0, 0, 1, @UID, 2014)
INSERT [dbo].[tblSubjectMaster] ( [SubjectName], [SubjectCode], [SubjectGroupMasterId], [SubjectClassID], [SubjectSectionID], [SubjectOrder], [UserID], [FYear]) VALUES ( N'Hindi', N'02', @Scholastic_SubjectGroupMasterId, 0, 0, 2, @UID, 2014)
INSERT [dbo].[tblSubjectMaster] ( [SubjectName], [SubjectCode], [SubjectGroupMasterId], [SubjectClassID], [SubjectSectionID], [SubjectOrder], [UserID], [FYear]) VALUES ( N'Social studies', N'087', @Scholastic_SubjectGroupMasterId, 0, 0, 5, @UID, 2014)



UPDATE tblSubjectMaster SET SubjectCOde=SubjectName

go
